/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1856 {
      /* 200px - 300px - leaving extra space for the navigation */
      padding: clamp(10.9375rem, 10vw, 1.5rem) 2rem 18.75rem;
      /* prevents the topper line from causing an overflow */
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
    #hero-1856 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
    }
    #hero-1856 .cs-content {
      text-align: left;
      width: 100%;
      max-width: 46.875rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      z-index: 1;
    }
    #hero-1856 .cs-title {
      /* 49px - 84px */
      font-size: clamp(3.0625rem, 6vw, 5.25rem);
      max-width: 100%;
      letter-spacing: -2px;
    }
    #hero-1856 .cs-title,
    #hero-1856 .cs-text {
      text-align: left;
      color: var(--bodyTextColorWhite);
    }
    #hero-1856 .cs-text {
      margin-bottom: 2rem;
    }
    #hero-1856 .cs-button-solid {
      font-size: 1rem;
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      min-width: 12.5rem;
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 1.5rem;
      background-color: var(--primary);
      color: var(--bodyTextColorWhite);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    #hero-1856 .cs-button-solid:before {
      content: "";
      width: 0%;
      height: 100%;
      background: #000;
      opacity: 1;
      border-radius: 0.25rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #hero-1856 .cs-button-solid:hover:before {
      width: 100%;
    }
    #hero-1856 .cs-content-graphic {
      height: 305%;
      max-height: 81.25rem;
      filter: brightness(60%);
      width: auto;
      position: absolute;
      top: 50%;
      right: -6rem;
      left: auto;
      z-index: -1;
      transform: translateY(-50%);
      z-index: -3;
    }
    #hero-1856 .cs-graphic {
      width: 100%;
      min-width: 120rem;
      height: auto;
      object-fit: cover;
      position: absolute;
      bottom: -1px;
      left: 50%;
      z-index: 2;
      transform: translateX(-50%);
    }
    #hero-1856 .cs-graphic-dark {
      display: none;
    }
    #hero-1856 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      /* Overlay on the background image that gets removed at tablet+, in favour of the svg graphic */
    }
    #hero-1856 .cs-background:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      /* prevents the cursor from interacting with it */
      pointer-events: none;
      opacity: 0.4;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #hero-1856 .cs-background img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #hero-1856 .cs-background::before {
      content: none;
    }
  }
  /* Desktop Parallax - 1300px */
  @media only screen and (min-width: 81.25rem) {
    #hero-1856 .cs-background {
      background: url("assets/image/Map.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /* creates the parallax effect */
      background-attachment: fixed;
    }
    #hero-1856 .cs-background img {
      display: inside;
      filter: blur(2px);
    }
  }
  /* Large Desktop - 1920px */
  @media only screen and (min-width: 120rem) {
    #hero-1856 {
      /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get closer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
      padding-bottom: 14vw;
    }
  }
                   
/*-- -------------------------- -->
<---       Contact Form         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .contact-section {
    width: 100%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
  }
  
  .contact-intro > * + * {
    margin-top: 1rem;
  }
  
  .contact-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
  }
  
  .contact-description {
    color: rgb(107 114 128);
  }
  
  .form-group-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    margin-bottom: 0.5rem;
  }
  
  .form-input,
  .form-textarea {
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .form-input::placeholder,
  .form-textarea:focus-visible {
    color: #6b7280;
  }
  
  .form-input:focus-visible,
  .form-textarea:focus-visible {
    outline: 2px solid #2563eb;
    outline-offset: 2px;
  }
  
  .form-textarea {
    min-height: 120px;
  }
  
  .form-submit {
    width: 100%;
    margin-top: 1.2rem;
    background-color: #7A200D;
    color: #fff;
    padding: 13px 5px;
    border-radius: 0.375rem;
  }
  
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {

}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {

}